<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" media="all" href="/assets/css/style.css">
    <link rel="stylesheet" media="all" href="/assets/css/solarized-dark.css">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,400italic,300' rel='stylesheet' type='text/css'>
    <script src="/assets/libs/modernizr.js"></script>
  </head>
  <body>
    <nav id="main_nav" class="hash" role="primary">
      <ul class="container">
        <li><a href="/" id='home'>Home</a></li>
        <li><a href="https://www.github.com/tonyhb">GitHub</a></li>
        <li><a href="http://keepupdated.co">KeepUpdated</a></li>
      </ul>
    </nav>
    <section id="main">
      {{{content}}}
    </section>
    <div id='disqus-script'></div>
    <script src="/assets/js/app.js"></script>
    <script type="text/javascript">
      // var _gaq = _gaq || [];
      // _gaq.push(['_setAccount', 'UA-29616568-1']);
      // _gaq.push(['_setDomainName', 'tonyhb.com']);
      // _gaq.push(['_trackPageview']);
      // (function() {
      //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      // })();
    </script>
  </body>
</html>
