<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" media="all" href="/public/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700' rel='stylesheet' type='text/css'>
    <script src="/public/js/libs/modernizr.js"></script>
  </head>
  <body>
    <nav id="main_nav" class="hash" role="primary">
      <ul class="container">
        <li><a href="/">Home</a></li>
        <li><a href="https://www.github.com/tonyhb">GitHub</a></li>
        <li><a href="http://keepupdated.co">KeepUpdated</a></li>
      </ul>
    </nav>
    <section id="main">
      {{{content}}}
    </section>
    <script data-main="/public/js/app-built" src="/public/js/libs/require.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29616568-1']);
      _gaq.push(['_setDomainName', 'tonyhb.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
